
html,body{
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
}
body,div,p,h1,h2,h3,h4{
	font-family: "Microsoft YaHei",Helvetica,"STHeiti STXihei",Arial;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
p{
	line-height: 30px;
}
h1,h2{line-height: 40px;}
ul{list-style: none;}
#container{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*z-index: 2000;*/
	font-size: 1em;
	visibility: visible;
	overflow: hidden;
	position: relative;
}
.slidewrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
/*	-webkit-transform:translate3d(0,0,0);
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	transition:transform.5s;*/
}
#container article.slide{
	width: 100%;
	height: 100%;
	display: block;
	font-family: Lato,sans-serif;
	line-height: 2em;
	color: #fff;
	overflow: hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	/*z-index: 1000;*/
	background: #ff3366;
	-webkit-transform:translate3d(0,0,0);
}
#container article.slide h2{
	font-size: 2em;
	line-height: 1.1em;
	letter-spacing:3px;
	margin: 0;
}
#container article.slide a{
	color: #fff;
	text-decoration: none;
}
#container article.slide a:hover{
	text-decoration: none;
}
#container article.slide:nth-of-type(2){
	background: #336699;
}
#container article.slide:nth-of-type(3){
	background: #C89053;
}
#container article.slide:nth-of-type(4){
	background: #993366;
}#container article.slide:nth-of-type(5){
	background: #46C8AF;
}
.about{
	width: 50%;
	height: 55%;
	position: absolute;
	top: 25%;
	left: 30%;
	display: none;
	color: #fff;
}
.photo{
	width: 150px;
	height: 178px;
	border: 2px solid #fff;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	margin-top: 6%;
	overflow: hidden;
}	
.person_info{
	position: absolute;
	margin-left: 200px;
	top: 0;
}
.hider{
	width: 100%;
	height: 100%;
	position: relative;
	/*z-index: 0;*/
	margin: 2% auto;
}
.skill{
	text-align: center;
}
.skill_form{
	width: 100%;
	height: 95%;
	position: absolute;
	top: 22%;
	left: 8%;
}
.skill_form li{
	height: 40px;
	line-height: 40px;
	margin-top: 25px;
	padding-left: 10px;
}
.list1_detail,.list2_detail,.list3_detail,.list4_detail,.list5_detail{
	box-shadow:1px 1px 3px #888;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	display: block;
	/*z-index: 1;*/
	position: absolute;
	background-color: #fff;
	top: 28%;
	left: 20%;
	visibility: hidden;
}
.list1_detail li,.list2_detail li,.list3_detail li,.list4_detail li,.list5_detail li{
	height: 25px;
	line-height: 25px;
	margin-top: 0;
	padding-left: 10px;
	list-style: disc;
	color: #000;
}
.list1_detail {
top:6%;
}

.list2_detail {
top:17%;
top:18% \9;
}

.list3_detail {
top:28%;
top:29.5% \9;
}

.list4_detail {
top:39%;
top:41.5% \9;
}

.list5_detail {
top:50%;
top:53% \9;
}
#list5 {
width:100px;
border-left:3px solid #ffbb06;
background-color:#fff6dd;
color:#ffbb06;
}
#list1,#list2{
	width: 1px;
	border-left: 3px solid #3498db;
	background: #d6efff;
	color: #3498db;
}
#list1:hover .list1_detail,#list2:hover .list2_detail,#list3:hover .list3_detail,#list4:hover .list4_detail,#list5:hover .list5_detail {
	display:block;
	visibility: visible;
}
#list3,#list4{
	width: 160px;
	border-left: 3px solid #9ed728;
	background: #eaf6d0;
	color: #9ed728;
}
.Education{
	height: 100%;
	width:100%;
}
.Education_title{
	text-align: center;
	margin-top: 2%;
}
.Education_detail{
	width: 95%;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
.Education_detail ul{
	width: 100%;
	height: 60%;
	position: absolute;
	top: 10%;
}
.Education_detail li{
	width: 21%;
	height: 412px;
	background-color: #fff;
	display: block;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	text-align: justify;
	color: #000;
	font-size: 1em;
	position: absolute;
	top: 0;
}
#major1 {
left:3%;
}

#major2 {
left:26%;
}

#major3 {
left:49%;
}

#major4 {
left:72%;
}
#myMajor1,#myMajor2,#myMajor3{
	line-height: 103px;
	text-align: center;
	overflow: hidden;
}
#myMajor1{
	border-radius: 10px 10px 0 0;
	-moz-border-radius:10px 10px 0px 0px ;
	-webkit-border-radius:10px 10px 0px 0px ;
	-ms-border-radius:10px 10px 0px 0px ;
	-o-border-radius:10px 10px 0px 0px ;
}
#myMajor3{
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-radius:0px 0px 10px 10px;
	-ms-border-radius:0px 0px 10px 10px;
	-o-border-radius:0px 0px 10px 10px;
}
.major2_jpg,.major3_jpg,.major4_jpg{
	border-radius: 10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	-ms-border-radius:10px 10px 0 0;
	-o-border-radius:10px 10px 0 0;
	height: 130px;
}
.major2_jpg{
	background: #6F5499;
}
.major3_jpg{
	background: #E76F00;
}
.major4_jpg{
	background: #CF4646;
}
#myMajor1:hover,#myMajor2:hover,#myMajor3:hover{
	background: #6f5499;
	color: #fff;
}
.Education_detail p{
	margin: 30px;
	text-indent: 2em;
}
.Education_detail h3 {
	text-align:center;
	font-size: 30px;
	padding-top: 40px;
	color: #fff;
}
.reason{
	width: 95%;
	height: 100%;
	margin: 5% auto;
	position: relative;
}
.reason_title{
	text-align:center;
	height:100px;
	width:100%;
	line-height:100px;
}
.reason_detail{
	width: 60%;
	height: 90%;

}
.reason_tab_contain{
	padding-top: 3%;
	height: 50%;
	width: 100%;
	margin-left: 32%;
}
.reason_tab_contain p{
	text-indent: 2em;
}
.reason_tab_list2{
	display: none;
}
.reason_tab{
	text-align: center;
	width: 39%;
	height: 50%;
	margin: 10% 0 0 63%;
}
.reason_tab ul{padding: 0;}
.reason_tab li{
	float: left;
	width: 49%;
	height: 50px;
	line-height: 50px;
	border: 1px solid #fff;
	margin-left: -1px;
}
#reason_tab_bar1{
	cursor: pointer;
	background-color:#fff;
	color:#993366;
	border-radius:25px 0 0 25px;
	-moz-border-radius:25px 0 0 25px;
	-webkit-border-radius:25px 0 0 25px;
	-ms-border-radius:25px 0 0 25px;
	-o-border-radius:25px 0 0 25px;
}
#reason_tab_bar2{
	cursor: pointer;
	border-radius:0 25px 25px 0;
	-moz-border-radius:0 25px 25px 0;
	-webkit-border-radius:0 25px 25px 0;
	-ms-border-radius:0 25px 25px 0;
	-o-border-radius:0 25px 25px 0;
}
.demo_title{
	text-align: center;
	height: 100px;
	width: 100%;
	line-height: 100px;
	margin-top: 5%;
}
.demo_detail{
	width: 50%;
	height: 300px;
	margin: 5% auto;
	text-align: center;
}
.demo_list{
	width: 50%;
	height: 300px;
	float: left;
}
.limi_img{
	width: 122px;
	height: 122px;
	line-height: 122px;
	background: #008aaf;
	border-radius: 50%;
	margin-left: 110px;
	color: #fff;
	font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ";
	font-size: 50px;
}
.muke_img{
	width: 122px;
	height: 122px;
	line-height: 122px;
	background: #fff;
	border-radius: 50%;
	margin-left: 110px;
	color: #000;
	font-family: "˜Ë¿¬ów","Microsoft YaHei","Î¢ÈíÑÅºÚ";
	font-size: 50px;
}

.nav{
	list-style: none;
	position: fixed;
	top: 30%;
	left: 2%;
	margin: 0;
	padding: 0;
}
.nav li{
	width: 100px;
	margin-bottom: 15px;
	float: left;
	clear: both;
}
.nav li a{
	cursor:pointer;
	border: 5px solid #fff;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	float: left;
	display: block;	
}
.nav li a:hover{
	background: #fff;
	border-radius: 50%;
}
.nav li span{
	display: inline-block;
	float: left;
	color: #000;
	background: #fff;
	font-size: 12px;
	line-height: 20px;
	width: 55px;
	height: 20px;
	margin-left: 15px;
	text-align: center;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	display: none;
}
.thank{
	margin-top: 40px;
}