body,html,div,img,ul,li,a,input,h3,span,dl,dt,dd{
	margin: 0;
	padding: 0;
}
body{
	font-size: 12px;
}
input{
	border: none;
	outline: none;
}
.clearbox{
	clear: both;
}
.header{
	width: 100%;
	height: 151px;
}
.comWidth{
	width: 1000px;
	margin: 0 auto;
}
.topBar{
	background: #f7f7f7;
	height: 31px;
	width: 100%;
	line-height: 31px;
}
.top_left{
	float: left;
}
.top_left a{
	color: #656565;
	font-weight: bold;
	text-decoration: none;
}
.top_left a:hover{
	color: red;
}
.top_left img{
	display: block;
	float: left;
	width: 15px;
	height: 14px;
	margin-top: 8px;
	padding-right: 5px;
}
.top_right{
	float: right;
}
.top_right a{
	color: #656565;
	text-decoration: none;
}
.top_right a:hover{
	color: red;
}

.logoBar{
	width: 100%;
	height: 85px;
	background: #1d7ad9;
}
.logo{
	width: 150px;
	height: 72px;
	padding-left: 39px;
	padding-top: 13px;
	float: left;
}
.searchBox{
	float: left;
	width: 429px;
	height: 35px;
	margin-top: 22px;
	margin-left: 147px;
}
.search_text{
	float: left;
	width: 350px;
	height: 35px;
	padding: 0 5px;
}
.search_button{
	float: right;
	width: 69px;
	height: 35px;
	background: #ff8c00;
	color: #fff;
	font-family: "Microsoft YaHei","微软雅黑";
}
.shopCarBox{
	width: 145px;
	height: 35px;
	line-height: 35px;
	margin-top: 22px;
	float: left;
	margin-left: 31px;
}
.shopCar{
	background-color: #ff8800;
	float: left;
	width: 87px;
	height: 35px;
	border-right: 1px solid #e27a00;
	color: #fff;
	font-size: 14px;
	font-family: "Microsoft YaHei","微软雅黑";
}
.shopCar img{
	display: block;
	float: left;
	width: 23px;
	height: 20px;
	margin:7px 5px 0 10px;
}
.shopNum{
	background-color: #ff8800;
	float: right;
	width: 56px;
	height: 35px;
	border-left: 1px solid #ff9c01;
	color: #fff;
	font-size: 14px;
	font-family: "Microsoft YaHei","微软雅黑";
	text-align: center;
}
.shopNum img{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 6px;
}

.navBox{
	width: 100%;
	height: 35px;
	background: #1369C0;
}
.listClass{
	width: 190px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	font-family: "Microsoft YaHei","微软雅黑";
	text-align: center;
	float: left;
}
.listClass img{
	display: inline-block;
	width: 11px;
	height: 7px;
	margin-left: 10px;
}
.nav{
	display: block;
	float: left;
}
.nav li{
	display: block;
	float: left;
	list-style: none;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.nav li a{
	display: block;
	width: 100px;
	height: 35px;
	color: #fff;
	font-family: "Microsoft YaHei","微软雅黑";
	text-decoration: none;
}
.nav li a:hover{
	background-color: #4593fd;
}
.bannerBox{
position: relative;
}
.listitems{
	position: absolute;
	width: 190px;
	height: 325px;
	float: left;
	border-top: 1px solid #4593fd;
}
.list_item{
	background: #4593fd;
	width: 190px;
	height: 63px;
	border-top: 1px solid #5AA1FE;
	border-bottom: 1px solid #3487F2;
}
.list_item dl{
	padding: 10px 10px;
}
.list_item dt{
	background: url("../image2/icon/shop_sj.jpg")right center no-repeat;
}
.list_item dt a.b{
	color:#fff;
	font-size: 14px;
	font-family: "Microsoft YaHei","微软雅黑";
	text-decoration: none;
}
.list_item dt a:hover{
	text-decoration: underline;
}
.list_item dd a{
	color:#fff;
	font-size: 12px;
	text-decoration: none;
}
.list_item .list_radius{
	display: inline-block;
	width: 48px;
	height: 20px;
	background: url("../image2/icon/aLink_bg.png")no-repeat left center;
	padding-top: 6px;
	text-align: center;
	color: #fff;
}

.banner{
	width: 810px;
	height: 326px;
	float: right;
	position: relative;
	overflow: hidden;
}
.banner_list{
	width: 1620px;
	height: 326px;
	position: absolute;
	left: 0;
	top: 0;
}
.banner_list li{
	list-style: none;
	float: left;
	width: 810px;
	height: 326px;

}
.imgNum{
	position: absolute;
	bottom:15px;
	left: 0;
	width: 100%;
	text-align: center;
}
.imgNum a{
	display: inline-block;
	width: 20px;
	height: 5px;
	background: #fff;
	margin: 0 3px 0 2px;
}
.imgNum a.active{
	background: #ff7700;
}
.shopBox{
	width: 1000px;
	line-height: 44px;
	margin: 15px auto;
}
.shopBox img{
	display: block;
	float: left;
}
.shopBox h3{
	font-size: 24px;
	padding-left: 15px;
	font-family: "Microsoft YaHei","微软雅黑";
	font-weight: normal;
	float: left;
}
.shopBox a{
	color: #656565;
	text-decoration: none;
	display: block;
	float: right;
}
.shopBox a:hover{
	text-decoration: underline;
}
.shop_content{
	margin-top: 15px;
	height: 400px;
	width: 100%;
}
.shop_content_left{
	height: 400px;
	width: 188px;
	float: left;
}
.shop_content_right{
	height: 397px;
	width: 811px;
	float: right;
	border-bottom: 3px solid #ff7201;
}
.shop_centent_right_top{
	height: 279px;
	width: 812px;
}
.top_list_item{
	border: 1px solid #999;
	border-left: none;
	height: 279px;
	width: 202px;
	text-align: center;
	float: left;
}
.item_img img{
	display: block;
	width: 187px;
	height: 200px;
	padding-left: 8px;
}
.top_list_item h3{
	padding-left: 40px;
	line-height: 23px;
	color: #000;
	font-size: 16px;
	font-family: "Microsoft YaHei","微软雅黑";
	font-weight: bold;
}
.top_list_item p{
	clear: both;
	line-height: 25px;
	color: #FF7300;
	font-size: 14px;
	font-family: "Microsoft YaHei","微软雅黑";
}

.shop_centent_right_bm{
	width: 812px;
	height: 118px;
}
.bm_list_item{
	width: 202px;
	height: 118px;
	border-right:  1px solid #999;
	float: left;
}
.bm_item_img img{
	display: block;
	width: 100px;
	height: 100px;
	padding-left: 3px;
}
.bm_item_img p{
	margin: 0;
	padding: 0;
	line-height: 15px;
}
.bm_item_img p.p_1{
	padding-top: 35px;
	color: #FF7300;
}
.bm_item_img p.p_2{
	padding-top: 5px;
	font-size: 16px;
	font-family: "Microsoft YaHei","微软雅黑";
}
.footer{
	width: 100%;
	background: #d4d4d4;
	text-align: center;
	margin-top: 19px;
}
.footer_nav a{
	color: #000;
	text-decoration: none;
	line-height: 35px;
}
.footer_nav{
	padding-top: 20px;
}
.footer_nav a:hover{
	color: #ff6600;
}
.footer_nav_02{
	line-height: 20px;
	padding-bottom: 20px;
}
.footer_nav_03 a{
	margin: 0 8px;
}